*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: #d3cecfe4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5000;
}
header nav{
    display: flex;
}
header nav h4{
    padding: 10px 20px;
}
nav h4 a{
    color: #784b55;
    font-size: 20px;     
}
nav h4 a:hover
{
    filter: drop-shadow(7px 5px 10px  #784b55 );
}
.title 
{
    color: #784b55;
    font-size: 45px;
}
.credentials
{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.credentials i{
    font-size: 17px;
    margin-right: 7px;
}
.login{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #784b55;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}
.welcome-page,.arts-field,.culture-field,.tradition-field,.tourism-field{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.6;
}
.welcome-page{
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    margin-top: -100px;
}
.welcome-page h1{
    font-size: 180px;
    text-transform: uppercase;
    word-spacing: -10px;
    font-weight: 750;
    line-height: 250px;
    letter-spacing: -5px;
    color: black;
}
.arts-field h1,.culture-field h1,.tradition-field h1,.tourism-field h1{
    font-size: 70px;
    position: relative;
    left: 10%;
}
.arts-field p,.culture-field p,.tradition-field p,.tourism-field p{
    max-width: 70%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.arts-field{
    height: 100vh;
    width: 100vw;
}
.arts-h1
{
    margin-left: 150px;
}
.arts-buttons
{
    display: flex;
    align-items: center;
}
.buttons 
{
    margin-left: 900px;
}
.register,.show
{
    padding: 25px;
    font-size: 20px;
    background-color: #644047;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.register:hover,.show:hover
{
    background-color: white;
    color: #644047;
}
.culture-field{
    height: 100vh;
    width: 100vw;
}
.tradition-field{
    height: 100vh;
    width: 100vw;
}
.tourism-field{
    height: 100vh;
    width: 100vw;
}
.arts-field a,.culture-field a,.tradition-field a,.tourism-field a{
    position: relative;
    left: 47%;
}
.explore
{
    padding: 25px;
    font-size: 20px;
    background-color: black;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.explore:hover{
    color: black;
    background-color: white;
}

.hide
{
    display: none;
}
.hide a li{
    color: #644047;
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
}
.hide a li:hover
{
    background-color: #644047;
    color: white;
}